@page
@model az_webapp_lance.Pages.DeploymentSlotModel
@{
    ViewData["Title"] = "Deployment Slot page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to .Net Developer</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>We are here to learn about the differente azure feature</h3>
</div>